@import '~@pinpt/uic.next/Styles/styles.less';

.Wrapper {
	padding: 4.0rem;
}

.Location {
	display: flex;
	justify-content: center;
	align-items: stretch;
	
	.Button {
		background: @White;
		border: @BorderStyle;
		padding: 4.0rem;
		text-align: center;
		max-width: 300px;
		margin: 0 20px;
		cursor: pointer;

		&.Disabled {
			background-color: @Mono100 !important;
		}

		div {
			margin-top: 2.0rem;
			font-size: 1.2rem;

			svg {
				font-size: 1.2rem;
			}

			.Setup {
				margin-top: 1.5rem;
			}
		}

		.Icon {
			font-size: 3.0rem;
			margin: 0 auto 2.0rem;
			color: @Mono400;
			display: block;
		}

		&:hover:not(.Disabled) {
			.Icon {
				color: @Royal500;
			}
		}
	}
}

.Validate {
	margin-top: -10.0rem;

	p {
		margin-top: 3.0rem;
		font-size: 1.6rem;
	}
}

.Afterword {
	input {
		display: block;
		margin-top: 0.5rem;
		padding: 1.0rem;
		outline: none;
		border: 1px solid @Mono200;
		color: @Mono700;
		width: 100% !important;
		background-color: @Mono100;
	}
}

.Validating {
	font-size: 1.4rem;
	margin-top: 2.0rem;
}

.Upgrade {
	display: flex;
	justify-content: center;

	.Content {
		flex: 0 1 500px;

		h3 {
			font-size: 2.1rem;
			color: @Royal500;
			font-weight: @FontWeightStrong;
			margin-bottom: 3.0rem;
		}

		p {
			margin-bottom: 2.0rem;
		}

		ol {
			margin-top: 2.0rem;
			margin-bottom: 5rem;
			list-style-type: decimal;

			li {
				margin-left: 1.5rem;
				margin-bottom: 1rem;

				em {
					font-style: normal;
					color: @Mono400;
				}
			}
		}

		.Help {
			margin-top: 5rem;
			font-size: 1.2rem;
			color: @Mono400;
		}
	}
}